body,
html {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-color: #876;
  /* background: url(https://cdn.pixabay.com/photo/2014/06/16/23/40/grey-370125_1280.png);
  background-size: cover; */
  /* min-height: 100vh; */
  /* margin: 0 0 150px; */
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  color: #ad283a;
}

p {
  font-size: 1.2rem;
}

hr {
  width: 15%;
  border-width: 5px;
  background-color: #ebdcde;
  margin-top: 5px;
}

footer {
  background-color: #495464;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

/* =========== Homepage =========== */
#welcome {
  /* background-color: #1a1c1d;
  color: white; */
  margin: 100px auto;
  /* margin-top: 80px; */
  padding: 80px;
  width: 80%;
  text-align: center;
  transition-timing-function: ease-in-out;
}

.welcome-text {
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  line-height: 50px;
  margin-bottom: 20px;
}
.welcome-name {
  color: #d3354a;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.learnBtn {
  border: 1px solid rgb(0, 165, 129);
  color: rgb(0, 165, 129);
  display: inline-block;
  font-family: "Raleway", sans-serif;
  box-sizing: inherit;
  cursor: pointer;
  font-size: 13pt;
  padding: 10px 20px;
  transition: all 0.5s;
}
.learnBtn:hover {
  background-color: rgb(0, 165, 129);
  text-decoration: none;
  color: white;
}
/* ================================= */
/* =========== About =========== */
#about-section {
  /* background-color: #1a1c1d; */
  /* color: white; */
  margin: 50px auto;
  /* margin-top: 80px; */
  /* padding: 80px; */
  width: 90%;
  text-align: center;
}
.about-detail {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  word-wrap: break-word;
}
.skills-no-icon {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
.rale-text {
  font-family: "Raleway", sans-serif;
}
.text-email {
  word-wrap: break-word;
  color: rgb(170, 21, 21);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
.text-email:hover {
  word-wrap: break-word;
  /* color: #876; */
  color: rgb(0, 165, 129);
  font-size: 18px;
}
.email-label {
  font-size: 20px;
}
.about-label {
  font-size: 20px;
}
.link-detail {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  /* word-wrap: break-word; */
  color: black;
}
.link-detail:hover {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  /* word-wrap: break-word; */
  color: rgb(0, 165, 129);
}
/* ================================= */
/* =========== Resume =========== */
#resume-section {
  /* background-color: #1a1c1d; */
  /* color: white; */
  margin: 80px auto;
  /* margin-top: 80px; */
  /* padding: 80px; */
  width: 50%;
  text-align: center;
}
.resume-download {
  color: #667d88;
}
.resume-download:hover {
  color: rgb(0, 165, 129);
}
/* ================================= */
/* =========== Portfolio =========== */
#portfolio-section {
  /* background-color: #1a1c1d; */
  /* color: white; */
  margin: 30px auto;
  /* margin-top: 80px; */
  /* padding: 90px; */
  width: 95%;
  text-align: center;
}
#portfolio-section-mobile {
  /* margin: 50px auto; */
  /* margin-top: 80px; */
  /* padding: 80px; */
  width: 100%;
  text-align: center;
}
.imgDiv {
  float: left;
}

.project-image {
  display: block;
}

.to-site-btn {
  border: 1px solid #d3354a;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  box-sizing: inherit;
  cursor: pointer;
  font-size: 13pt;
  padding: 10px 20px;
  transition: all 0.5s;
}
.to-site-btn:hover,
.to-site-btn:focus {
  background-color: #d3354a;
  text-decoration: none;
  color: white;
}
.img-port {
  margin: 5% 0% 0% 0%;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.port-image {
  vertical-align: middle;
  width: 100%;
  height: auto;
  background-size: cover;
  max-width: 828px;
  position: relative;
  z-index: 1;
}

.port-icon {
  position: absolute;
  font-size: 300% !important;
  color: rgb(218, 176, 134);
  top: 40%;
  /* left: 70%; */
  opacity: .65;
  z-index: 2;
}

.project-title {
  color: #17252c;
  margin-bottom: 10px;
}

.project-detail {
  width: 60%;
  margin: 0 auto 5px;
  color: #d3354a;
  margin-bottom: 10px;
  font-size: 15px;
}
.project-detail-mobile {
  width: 90%;
  margin: 0 auto 5px;
  color: #876;
  margin-bottom: 10px;
  font-size: 12px;
}
.transition-eio {
  transition: all 0.5s;
}

/* ================================= */
/* ============ Link Buttons =========== */
#link-btns-div {
  margin-bottom: 50px;
}
.text-link {
  color: rgb(43, 58, 54);
}
.text-link:hover {
  background-color: rgb(0, 165, 129);
  transition: all 0.5s;
  text-decoration: none;
  color: white;
  padding: 5px;
}
.text-link-active {
  transition: all 0.5s;
  text-decoration: none;
  color: #d3354a;
  padding: 5px;
}
.text-link-active:hover {
  transition: all 0.5s;
  text-decoration: none;
  color: #d3354a;
  padding: 5px;
}
.linkBtn {
  border: 1px solid rgb(0, 165, 129);
  color: rgb(0, 165, 129);
  display: inline-block;
  font-family: "Raleway", sans-serif;
  box-sizing: inherit;
  cursor: pointer;
  font-size: 13pt;
  padding: 10px 20px;
  transition: all 0.5s;
}
.linkBtn:hover {
  background-color: rgb(0, 165, 129);
  text-decoration: none;
  color: white;
}
.linkBtnOn:hover {
  background-color: rgb(0, 165, 129);
  text-decoration: none;
  color: white;
}
/* ================================= */
/* IDs */

/* for styling of my name in navbar */
#my-name {
  background-color: #1f6f8b;
  color: white;
}
/* for submit button */
#submit {
  background-color: #1f6f8b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#my-full-name {
  text-align: center;
  color: honeydew;
}

/* Classes */

.text-bg {
  color: rgb(99, 105, 104);
}

.text-red {
  color: #d3354a;
}

/* for font size of links in navbar */
.link-text-size {
  font-size: 1.3rem;
}

/* footer copyright font size and color*/
.copyright-text {
  font-size: 1.5rem;
  color: #696f73;
  /* background-color: #1f6f8b; */
  padding: 0%;
}

.text-purple {
  color: purple;
}
/* makes h1 Contact, Portfolio, and About green */
.text-green {
  color: #1f6f8b;
}

/* used to make my name in navbar green. Also used to make green line above footer  */
.bg-green {
  background-color: #1f6f8b;
}

/* centers the div horizontals */
.center-this {
  margin: 0 auto;
}

.centerAll {
  margin: auto auto auto auto;
}

.container {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapper {
  min-height: 100%;
  /* padding: 1px; */
  margin: 5px;
  /* padding-bottom: 100px; */
}
.center {
  margin: 0 auto;
}

/* @media */
@media screen and (max-width: 400px) {
  .wrapper {
    margin: 0%;
    padding: 0%;
  }
}

@media screen and (max-width: 576px) {
  main {
    margin: 1%;
    padding: 0%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  .copyright-text-size {
    font-size: 1rem;
  }
  main {
    margin: 3%;
    padding: 3%;
  }
}

@media screen and (max-width: 1234px) {
  main {
    margin: 5%;
    padding: 5%;
  }
}
